@page "/categories"
@using CheatCodesUI2022.Shared
@inject HttpClient Http

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Has parent</th>
            <th>Has child</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>@category.HasParent</td>
                    <td>@category.HasChild</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CategoryVM[]? categories;

    protected override async Task OnInitializedAsync()
    {
        string parentId = "266";
        //categories = await Http.GetFromJsonAsync<CategoryVM[]>($"api/Categories/GetChildsOf/{parentId}");
      
    }
}
